@font-face {
    font-family: ethno;
    src: url('../fonts/Transformers\ Movie.ttf');
}

/* @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

@font-face {
    font-family: Iceberg;
    src: url('../fonts/Iceberg-Regular.ttf');
}

*,
html,
body {
    scroll-behavior: smooth;
}

body {
    /* background-image: url('../images/bg.png'); */
    background-color: #1a0066;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    display: grid;
    /* font-family: ethno; */
    font-family: Iceberg;
    /* font-family: 'Courier New', Courier, monospace; */
    box-sizing: border-box;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #141918;
    z-index: 100;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3,
li {
    font-family: ethno;
}

.container h1 {
    font-family: ethno;
    margin: 0;
    display: inline;
    font-size: 80px;
    color: #ffffff;
    font-style: italic;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    -webkit-text-stroke: 1px blue;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #0000e6, 0 0 30px #0800e6, 0 0 40px #1300e6, 0 0 50px #2300e6, 0 0 60px #0013e6;
        /* text-shadow: 0 0 10px #fff, 0 0 20px #4d4dff, 0 0 30px #4d4dff, 0 0 40px #534dff, 0 0 50px #594dff, 0 0 60px #4d56ff, 0 0 70px #4d56ff; */
    }

    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #4d4dff, 0 0 30px #4d4dff, 0 0 40px #0000e6, 0 0 50px #0800e6, 0 0 60px #1300e6, 0 0 70px #2300e6;
    }
}

.container h1 b {
    font-size: 120px;
    margin-right: 15px;
}

.container p {
    font-size: 1.3em;
    margin: 0;
}

section {
    text-align: center;
    padding: 8em 0;
    background-color: #1d0059;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section p {
    width: 60%;
}

h2 {
    font-size: 3em;
}

.time {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.time span {
    margin-left: 20px;
    width: 75px;
    text-align: center;
    text-justify: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time span div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 3px solid white;
    /* border-radius: 50%; */
    height: 50px;
    width: 50px;
    margin-bottom: 4px;
    background-color: rgba(58, 75, 231, 0.6);
    box-shadow: 0 0 20px rgb(255, 255, 255);
}

.time span div:nth-child(2) {
    color: rgba(58, 75, 231);
    font-weight: bold;
}

svg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: visible;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 8vh;
    color: white;
    background-color: #1a0066;
    /* background-color: rgba(255, 255, 255, 0.024); */
    /* backdrop-filter: blur(6px); */
}

nav div {
    padding: 16px
}

.nav-links {
    display: flex;
    justify-content: space-around;
    background-color: #1a0066;
    margin: 0;
    width: 40%;
}

.nav-links li {
    list-style: none;
    margin: 0 16px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    text-decoration-thickness: 0px;
    transition: all 0.2s;
}

.nav-links li a:hover {
    /* transform: scale(1.018); */
    color: rgb(0, 166, 255);
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    padding: 0;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.cta {
    margin-top: 24px;
    padding: 20px;
    font-size: 24px;
    font-family: ethno;
    width: 30%;
    border-radius: 4px;
    border: none;
    background-color: #ffffff;
    color: #030cbb;
    cursor: pointer;
    box-shadow: 0px 0px 30px blue;
    transition: all 0.3s ease-in-out;
}

.cta:hover {
    background-color: #030cbb;
    color: white;
    box-shadow: 0px 0px 30px white;
    transform: scale(1.1);
}

.summary {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.tevents {
    background-color: white;
    color: black;
    width: 350px;
    height: 450px;
    border-radius: 4px;
    border: 0px solid rgb(85, 0, 255);
    padding: 16px;
    transition: transform 0.2s;
    margin-bottom: 40px;
}

.tevents:nth-of-type(1) {
    margin-right: 100px;
}

.tevents:hover {
    transform: scale(1.018);
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.tevents h3 {
    font-size: 30px;
    color: #1a0066;
}

.tevents ul {
    text-align: left;
    list-style: none;
}

.tevents ul li i {
    color: #1a0066;
    margin-right: 16px;
}

.tevents ul li {
    font-size: 20px;
    margin-bottom: 6px;
}

.tevents ul li a {
    text-decoration: none;
    color: black;
}

.tevents ul li a:hover {
    color: blue;
}

.tevents ul li div {
    display: flex;
    justify-content: space-between;
    font-family: Iceberg;
    margin-left: 45px;
    margin-right: 20px;
}

footer {
    background-color: #1d0059;
    text-align: center;
    padding: 16px;
}


@media only screen and (max-width: 1000px) {
    .tevents:nth-of-type(1) {
        margin-right: 20px;
    }

    .nav-links {
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }

    .summary {
        flex-direction: column;
    }

    .tevents:nth-of-type(1) {
        margin-right: 0px;
    }

    .container h1 {
        font-size: 60px;
    }

    .container h1 b {
        font-size: 80px;
    }

    .time span {
        width: 50px;
    }

    .time span div:nth-child(1) {
        font-size: 24px;
        height: 40px;
        width: 40px;
    }

    .time span div:nth-child(2) {
        font-size: 0.8rem
    }

    section h2 {
        font-size: 2.5rem;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .cta {
        width: 45%;
    }
}

@media only screen and (max-width: 500px) {
    .container h1 {
        font-size: 40px;
    }

    .container h1 b {
        font-size: 60px;
    }

    .container p {
        font-size: 1rem;
    }

    .time span {
        width: 40px;
    }

    .time span div:nth-child(1) {
        font-size: 20px;
        height: 30px;
        width: 30px;
    }

    .time span div:nth-child(2) {
        font-size: 0.6rem
    }

    section p {
        width: 80%;
    }

    .tevents {
        width: 95%;
        height: fit-content;
        padding: 16px;
    }

    .cta {
        width: 80%;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}